<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us!</span>
    </div>
    <!-- Left -->

  </section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Montesano Community Church
          </h6>
          <p>
            Sundays at 11:30 AM.
            <br>
            &
            <br>
            Wednesdays at 7:00 PM.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->

          <p>
            <a routerLink="about" class="text-reset">About</a>
          </p>
          <p>
            <a routerLink="location" class="text-reset">Location</a>
          </p>
          <p>
            <a routerLink="events" class="text-reset">Events</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <p>
          <a class="Link" href="https://www.google.com/maps/place/St+Mark's+Episcopal+Church/@46.9822661,-123.6007447,17z/data=!3m1!4b1!4m6!3m5!1s0x54922efe9b4276df:0xe13e3b26b2e3bf5f!8m2!3d46.9822625!4d-123.5981698!16s%2Fg%2F1ts_69hn?entry=ttu" target="_blank"> 124 N Sylvia St</a>
          </p>
          <p>
            <a class="Link" href="https://www.google.com/maps/place/St+Mark's+Episcopal+Church/@46.9822661,-123.6007447,17z/data=!3m1!4b1!4m6!3m5!1s0x54922efe9b4276df:0xe13e3b26b2e3bf5f!8m2!3d46.9822625!4d-123.5981698!16s%2Fg%2F1ts_69hn?entry=ttu" target="_blank"> Montesano, WA 98563</a>
          </p>
          <a class="Link" href="tel:3600000000" target="_blank"> (360) 964-0109</a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
