<h1 class="pageTitle">Mission</h1>
<div class="container">
  <h2>
    <strong>Our church's mission is to follow the example set by Jesus in Nazereth. We aim to spread good news to the poor, restore sight to the blind, uplift the downtrodden, free those in captivity, and proclaim that now is the time to embrace the love of God.</strong>
  </h2>
    <h2 class="header">
    <strong>OUR BELIEFS
    </strong>
  </h2>
  <h2 class="header2">
    <strong>The Apostle’s Creed
    </strong>
  </h2>
  <p>
    We believe in God the Father Almighty, Maker of heaven and earth, And in Jesus Christ his only Son our Lord, Who was conceived by the Holy Ghost, Born of the Virgin Mary, Suffered under Pontius Pilate, Was crucified, dead, and buried. He descended into hell; The third day He rose again from the dead; He ascended into heaven, And sitteth on the right hand of God the Father Almighty; From thence he shall come to judge the quick and the dead. I believe in the Holy Ghost;, the Communion of Saints; The Forgiveness of sins; The Resurrection of the body, And the Life everlasting. Amen.
  </p>
  <h2 class="header">
    <strong>Living Out Our Beliefs
    </strong>
  </h2>

  <h2 class="header2">
    <strong>Practices and Traditions
    </strong>
  </h2>
  <p>We embrace believers from all Christian denominations who find their home with us. We borrow from any denomination whatever practices or traditions that serve our mission of living out the love of Christ in this community.</p>
  <h2 class="header2">
    <strong>Jesus Said: I came to seek and to save that which was lost.
    </strong>
  </h2>
  <p>Our church understands the role of the church in society to be one of service to Jesus through serving those in need. We are focused on the poor, those captive to addictions or other emotional issues, those who are marginalized and downtrodden, those who are blind to the love available to them in Jesus and those whose hope is stretched to the breaking point.
  </p>
  <h2 class="header2">
    <strong>Jesus Said: Inasmuch as you have ministered to the least of these….you have ministered unto me.
    </strong>
  </h2>
  <p>We want to offer community to lonely people and help to those persons we can physically, emotionally or spiritually help. We are a hospital. We are a shelter for those who are for any reason abused in society. We are offering God’s love and open-armed acceptance to anyone who will allow us the privilege of tucking them under our wing. </p>
  <h2 class="header2">
    <strong>Jesus Said: I came to seek and to save that which is lost.
    </strong>
  </h2>
  <p>We want to be active in helping the homeless population in the area around us as well as supporting those overcoming addiction. We would like to help those who have failed morally re-visualize themselves as persons GOD CAN AND DOES LOVE by being the church of embracing. We believe it is our job to love people into Christ’s kingdom and His job to change them and make them beautiful in His time.</p>
</div>
