<header class="home-header">
  <div class="header-content">
    <h1>Sundays at 11:30 am.</h1>
      <h1>&</h1>
      <h1>Wednesdays at 7:00 PM.</h1>
      <p>All are welcomed to join one of our Sunday services as we worship, learn the scriptures, receive communion, pray for one another and make space to hear from the Holy Spirit</p>
    <div class="buttons">
      <a href="https://www.google.com/maps/place/St+Mark's+Episcopal+Church/@46.9822661,-123.6007447,17z/data=!3m1!4b1!4m6!3m5!1s0x54922efe9b4276df:0xe13e3b26b2e3bf5f!8m2!3d46.9822625!4d-123.5981698!16s/g/1ts_69hn?entry=ttu" class="cta-button">Get Directions</a>
    </div>
  </div>
</header>
