<header class="home-header">
  <div class="header-content">
    <h1>Welcome to Montesano Community Church</h1>
    <p>"A church that is open to all, regardless of your background"</p>
    <div class="buttons">
      <a routerLink="location" class="cta-button">Join Us This Weekend</a>
      <a routerLink="about" class="secondary-button">Get To Know Us</a>
    </div>
  </div>
</header>
<div class="">

</div>
<div class="bottomrow">
  <div class="eventcontainer">
    <h3>Contact Card</h3>
    <p>If you have any questions or comments, we’d love to hear from you and help you get connected in our community. You can fill out a connection card below to speak with our pastor, learn about groups and service opportunities, share a prayer request and more.
    </p>
    <a routerLink="contact" class="social-btn">Connect</a>
  </div>
  <div class="facebookcontainer">
    <h3>Facebook Group</h3>
    <p>Where you can find news, details on our upcoming events, and important items about life in our community. Share needs, prayer requests and connect with other members.</p>
    <a href="https://www.facebook.com/groups/450849862981854" class="social-btn">Join us on Facebook</a>
  </div>
</div>
